<!doctype html>
<html ng-app="todoApp">

<head>
    <meta charset="utf-8">
    <title>Advisor Dashboard</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/advisordashboard_assets/css/custom.css" rel="stylesheet">
    <style>
        .ng-hide {
            display: none!important;
        }
    </style>
</head>

<body>
    <div class="container" ng-controller="TodoListController as vm">
        <div class="loading" ng-if="vm.showLoder">Loading&#8230;</div>
        <h3>Welcome</h3>
        <button class="btn btn-default" ng-click="vm.pullData()">Pull the data</button>
        <div ng-show="vm.showTable" st-table="displayed" st-safe-src="vm.salemanActiveList">
            <div class="row row-mar">
                <div class="col-sm-3">
                    <input type="checkbox" name="grafe" ng-model="vm.showSections" ng-click="vm.filterData()">Show Sections
                </div>
                <div class="col-sm-3">
                    <input type="checkbox" name="grafe" ng-model="vm.showProb" ng-click="vm.filter.probation=[];vm.filterData()">Show Probation
                </div>
                <div class="col-sm-3">
                    <input type="checkbox" name="grafe" ng-model="vm.showGrade" ng-click="vm.filter.grade=[];vm.filterData()">Show grades
                </div>
                <div class="col-sm-3">
                    <input st-search="" class="form-control searchTable" placeholder="Search ..." type="text" />
                </div>
            </div>
            <div class="row row-mar">
                <div class="col-sm-3">
                    <span ng-show=" vm.showGrade || vm.showProb">Filters:</span>
                </div>
                <div class="col-sm-3">
                    <span ng-show="vm.showProb">
                        <input type="checkbox" ng-click="vm.filterData()" checklist-model="vm.filter.probation" value="true">Yes
                        <input type="checkbox" ng-click="vm.filterData()" checklist-model="vm.filter.probation" value="false">No
                    </span>
                </div>
                <div class="col-sm-3">
                    <span ng-show="vm.showGrade">
                        <input type="checkbox" ng-click="vm.filterData()" checklist-model="vm.filter.grade" value="A">A
                        <input type="checkbox" ng-click="vm.filterData()" checklist-model="vm.filter.grade" value="B">B
                        <input type="checkbox" ng-click="vm.filterData()" checklist-model="vm.filter.grade" value="C">C
                        <input type="checkbox" ng-click="vm.filterData()" checklist-model="vm.filter.grade" value="F">F
                    </span>
                </div>

                <div class="col-sm-3">
                    <a href ng-click="vm.exportTOCSV()">Export to CSV</a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th st-sort="STU_919">STU_919</th>
                        <th st-sort="name">Name</th>
                        <th st-sort="emailId">Email Id</th>
                        <th ng-show="vm.showSections" st-sort="course.sectionId">Section Id</th>
                        <th ng-show="vm.showGrade" st-sort="course.currentGrade">Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="displayed.length" ng-repeat="row in displayed" ng-class="{'prob-row' : vm.showProb && row.PROBATION}" ng-click="vm.openModel(row.STU_919)">
                        <td>{{row.STU_919}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.emailId}}</td>
                        <td ng-show="vm.showSections">{{row.course.sectionId| limitTo : 8}}</td>
                        <td ng-show="vm.showGrade">{{row.course.currentGrade}}</td>
                    </tr>
                    <tr ng-show="!displayed.length">
                        <td colspan="4" class="text-center">
                            No results Matched..
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-center">
                           
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
              
                <div class="col-sm-4" ng-init="value = 10">
                    <select ng-model="value">
                        <option ng-value="10">10</option>
                        <option ng-value="25">25</option>
                        <option ng-value="50">50</option>
                        <option ng-value="100">100</option>
                      </select>
                </div>
                <div class="col-sm-4">
                  
                </div>

                <div class="col-sm-4">
                    <div st-pagination="" st-items-by-page="value" st-displayed-pages="7" st-template="/advisordashboard_assets/templates/pagination.html"></div>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="showDetails">
            <div class="modal-header cust-header">
                <button type="button" class="close card-close" ng-click="close()">&times;</button>
                
                <button
                    ng-click= "openConversation(name[0])"
                    class="close glyphicon glyphicon-envelope card-envelope" ></button>
                <h3 class="modal-title" id="modal-title" ng-bind="name[0].name"></h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="card-content clearfix">
                    <div ng-repeat="item in name" class="card">
                        <h4 class ="modal-text" ng-bind="item.course.title"></h4>
                        <h6 >({{item.course.sectionId| limitTo : 8}})</h6>
                        <p>
                            <span class ="modal-text grade grade_{{item.course.currentGrade}}" ng-bind="item.course.currentGrade"></span>
                            <span class ="modal-text" ng-bind="item.course.currScore +'%'"></span>
                        </p>
                        <h5>Assignment Overview</h5>
                        <div class ="row">
                            <div class ="col-sm-6">
                                <span class ="modal-text" ng-bind="item.course.assignmentDetail.missing">
                            </div>
                            <div class ="col-sm-6">
                                <span class ="modal-text" ng-bind="item.course.assignmentDetail.late">
                            </div>
                        </div>
                        <div class ="row">
                            <div class ="col-sm-6">
                                Missing
                            </div>
                            <div class ="col-sm-6">
                                Late
                            </div>
                        </div>
                        <h5>Attendence Overview</h5>
                        <h5 class ="modal-text" ng-show="!item.course.noAttendence">{{((item.course.attendenceDetail.present/item.course.attendenceDetail.total)*100).toFixed(2)}}%</h5>
                        <h5 ng-show="item.course.noAttendence">Does not capture attendance</h5>
                    </div>
                </div>
            </div>
        </script>
    </div>
</body>
<script src="/advisordashboard_assets/js/angular.min.js"></script>
<script src="/advisordashboard_assets/js/ui-bootstrap-tpls.js"></script>
<script src="/advisordashboard_assets/js/smart-table.min.js"></script>
<script src="/advisordashboard_assets/js/checklist-model.js"></script>
<script src="/advisordashboard_assets/js/custom.js"></script>

</html>